.jhly{ background:url("jhly.png") top left no-repeat; }
.青海省旅游局_r2_c16{ width:48px; height:47px; background-position:-10px -10px; }
.青海省旅游局_r2_c14{ width:48px; height:47px; background-position:-10px -67px; }
.青海省旅游局_r2_c12{ width:48px; height:47px; background-position:-10px -124px; }
.青海省旅游局_r2_c10{ width:48px; height:47px; background-position:-10px -181px; }
.青海省旅游局_r2_c8{ width:48px; height:47px; background-position:-10px -238px; }
.青海省旅游局_r2_c6{ width:48px; height:47px; background-position:-10px -295px; }
.青海省旅游局_r2_c4{ width:48px; height:47px; background-position:-10px -352px; }
.青海省旅游局_r2_c2{ width:48px; height:47px; background-position:-10px -409px; }

