.zzb{ background:url("zzb.png") top left no-repeat; }
.青海省旅游局_r6_c3{ width:25px; height:25px; background-position:-10px -10px; }
.青海省旅游局_r4_c2{ width:25px; height:25px; background-position:-10px -45px; }
.青海省旅游局_r2_c2{ width:25px; height:25px; background-position:-10px -80px; }

